* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
.cw-cover {
    margin-bottom: 60px;
}
.cw-img {
    width: 100%;
    margin-bottom: 30px;
}
.cwm-detail {
    margin-bottom: 60px;
}
.cwm-detail p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
    padding: 0 15px;
}
.cwm-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.cwm-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}